tootest-dotnet:
  host: tootest-dotnet-service.tootest.svc.cluster.local
  port: 4477

logging:
  pattern:
    console: '%d{ABSOLUTE} [%X{traceId}/%X{spanId}] %-5p [%t] %C{2} - %m%n'
#    console: '%clr(%d{${LOG_DATEFORMAT_PATTERN:yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:%5p}) %clr([%X{traceId}/%X{spanId}]){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}\'

opentracing:
  spring:
    cloud:
      log:
        enabled: false
occ:
  tracer:
    enabled: true
    service-name: tootest_ch_user