logging:
  level:
    com:
      tootest:
        ch: DEBUG
    org:
      springframework:
        web: INFO
    root: INFO
  file:
    path: /
    name: ch-user.log

tootest-dotnet:
  host: localhost
  port: 4477

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: ThePassword
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/ch_user
    username: springuser
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect
#    show-sql: true


server:
  port: 9211
  servlet:
    context-path: /ch-user

management:
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
