<?xml version="1.0" encoding="UTF-8"?>
<!-- The log level from low to high is trace < debug < info < warn < error < fat. If it is set to warn, the information lower than warn will not be output -->
<!-- Scan: when this property is set to true, the configuration document will be reloaded if it changes, and the default value is true -->
<!-- Scanperiod: set the time interval for monitoring whether the configuration document is modified. If no time unit is given, the default unit is Ms.This property takes effect when scan is true. The default interval is 1 minute. -->

<configuration scan="false" scanPeriod="60 seconds">

    <contextName>logback-spring</contextName>

    <property name="logging.path" value="./logs"/>
    <property scope="context" name="envName" value="envName"/>

    <springProperty scope="context" name="envName"
                    source="dd.environment"
                    defaultValue="tootest"/>


    <conversionRule conversionWord="clr"
                    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>

        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logging.path}/app.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"trace": "%X{dd.trace_id}", "span":"%X{dd.span_id}"}</customFields>
            <includeMdcKeyName>dd.trace_id</includeMdcKeyName>
            <includeMdcKeyName>dd.span_id</includeMdcKeyName>
        </encoder>

    </appender>
    <!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <file>${logging.path}/ch-user-dd.log</file>-->
    <!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
    <!--            <jsonFactoryDecorator class="net.logstash.logback.decorate.CharacterEscapesJsonFactoryDecorator">-->
    <!--                &lt;!&ndash;<escape>-->
    <!--                    <targetCharacterCode>10</targetCharacterCode>-->
    <!--                    <escapeSequence>\u2028</escapeSequence>-->
    <!--                </escape>&ndash;&gt;-->
    <!--            </jsonFactoryDecorator>-->
    <!--            <providers>-->
    <!--                <pattern>-->
    <!--                    <pattern>-->
    <!--                        {-->
    <!--                        "environment_name":"${envName}",-->
    <!--                        "timestamp":"%d{yyyy-MM-dd HH:mm:ss.SSS}",-->
    <!--                        "trace": "%X{X-B3-TraceId:-}",-->
    <!--                        "level":"%-5level",-->
    <!--                        "thread": "%thread",-->
    <!--                        "message":"%logger{40} %message %exception{10}",-->
    <!--                        "stack_trace":"%exception{10}",-->
    <!--                        "time":"%X{time}"-->
    <!--                        }-->
    <!--                    </pattern>-->
    <!--                </pattern>-->
    <!--            </providers>-->
    <!--        </encoder>-->

    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            <fileNamePattern>${logging.path}/web-debug-%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
    <!--            <timeBasedFileNamingAndTriggeringPolicy-->
    <!--                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
    <!--                <maxFileSize>100MB</maxFileSize>-->
    <!--            </timeBasedFileNamingAndTriggeringPolicy>-->
    <!--            <maxHistory>15</maxHistory>-->
    <!--        </rollingPolicy>-->
    <!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
    <!--            <level>debug</level>-->
    <!--            <onMatch>ACCEPT</onMatch>-->
    <!--            <onMismatch>DENY</onMismatch>-->
    <!--        </filter>-->
    <!--    </appender>-->




    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>

    </root>
</configuration>